body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Text color */
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
    padding-bottom: 60px; /* Added padding to push footer down */
  }
  
  .game-section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #fff; /* Heading text color */
  }
  
  .game-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .game {
    border: 1px solid #444; /* Border color for each game block */
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #333; /* Dark background color for each game block */
  }
  
  .game img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .game h3 {
    margin-top: 10px;
    font-size:  28px;
    margin-bottom: 1px; /* Adjust spacing */
    
    color: #fff; /* Game name text color */
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0); /* Center horizontally */
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .game p {
    /* color: #aaa; Description text color */
    color: rgba(103, 220, 112, 0.848);
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
  }
  
  .game a {
    text-decoration: none;
    color: #fff; /* Link text color */
    display: block;
    background-color: #555; /* Button background color */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .game a:hover {
    background-color: #666; /* Hover state background color */
  }
  
  .game:hover {
    transform: scale(1.1);
    color: white;
    box-shadow: 7px 6px 100px rgb(112 80 210 / 50%);
}
  
  .game:hover img {
    transform: scale(1.2);
  }
  
  .game:hover h3 {
    opacity: 0;
  }
  
  .game:hover p {
    opacity: 1; /* Show description on hover */
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }